{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<div class="d-flex flex-column gap-4 my-4">
  <a href="{{ article.video_url }}" target="_blank">
    <img
      src="{{article.image.url}}"
      class="my-3 img-fluid rounded d-block object-fit-cover"
      alt="{{article.title}}"
      title="{{article.title}}"
    />
  </a>

  <h1>{{article.title}}</h1>

  <div>{{article.content | safe}}</div>
</div>
{% if edit_permission %}
<hr class="my-3" />
<h3>Gestiona la publicación</h3>
<div class="d-flex gap-3 my-4">
  <a href="{% url 'edit_article' article.article_id %}" class="btn btn-primary"
    >Editar</a
  >

  <script>
    const confirmDelete = () => {
      const title = "{{ article.title|escapejs }}"; // Escapar caracteres especiales de JavaScript
      return confirm(
        `¿Estás seguro de que deseas eliminar el artículo  ${title} ? `
      );
    };
  </script>

  <form
    method="POST"
    action="{% url 'article_detail' article.article_id %}"
    onsubmit="return  confirmDelete();"
  >
    {% csrf_token %}
    <button type="submit" name="delete_article" class="btn btn-danger">
      Eliminar
    </button>
  </form>
</div>

{% if user.is_authenticated %}
<h3>Añadir Comentario</h3>
<form
  method="POST"
  class="d-flex flex-column gap-2 my-4"
  action="{% url 'article_detail' article.article_id %}"
>
  {% csrf_token %}
  <div class="row gap-3">
    <div class="col-12 d-flex flex-column">
      <label for="id_content" class="form-label">Contentar:</label>

      <textarea
        name="content"
        cols="40"
        rows="10"
        required=""
        id="id_content"
        class="form-control"
      ></textarea>
    </div>
  </div>

  <button
    type="submit"
    name="comment_article"
    class="d-flex justify-content-center px-3 py-3 mt-3"
  >
    Comentar
  </button>
</form>
{% else %}
<p>Debe iniciar sesión para añadir un comentario</p>
<a href="{% url 'login' %}">Login</a>
{% endif %} {% endif %} {% for entry in comment %}
<div class="card my-5 gap-4">
  <h3 class="bg-info p-3">{{ entry.comment_ownership }}</h3>

  <div class="card-body">
    <p class="">{{ entry.content }}</p>
  </div>

  <p class="p-3 pb-0"><strong> {{ entry.comment_creation_date }} </strong></p>

  {% if edit_permission %}

  <div class="">
    <a href="{% url 'edit_comment' entry.comment_id %}">Editar comentario</a>

    <a href="{% url 'delete_comment' article.article_id entry.comment_id %}"
      >Eliminar</a
    >
  </div>
  {% endif %}
</div>
{% empty %}
<p>No hay comentarios.</p>
{% endfor %} {% endblock content %}
