{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<h1 class="">Articulos</h1>
<div class="row g-4">
  <div class="col-12 my-4">
    <div class="row gap-4">
      <h3>Ordenar</h3>
      <div class="col-12">
        <div class="d-flex flex-wrap gap-2">
          <a href="{% url 'articles' %}" class="button p-3">Todo</a>
          {% for category in categories %}
          <a href="?category_selection={{ category.id }}" class="button p-3"
            >{{ category.name }}</a
          >
          {% endfor %}
          <a href="?antiquity_desc=1" class="button p-3"
            >Más recientes primero</a
          >
          <a href="?antiquity_asc=1" class="button p-3">Más antiguas primero</a>
          <a href="?alphabet_desc=1" class="button p-3"
            >Orden alfabético descendente</a
          >
          <a href="?alphabet_asc=1" class="button p-3"
            >Orden alfabético ascendente</a
          >
        </div>
      </div>
    </div>
  </div>
  {% if articles %} {% for entry in articles %}
  <div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <a href="{% url 'article_detail' entry.article_id %}" class="cart">
      <div class="card h-100">
        <img src="{{entry.image.url}}" alt="{{entry.title}}" />
        <div class="card-body">
          <h5 class="card-title">{{entry.title}}</h5>
          <p class="card-text">{{entry.description}}</p>
          <p class="card-text">
            <strong> {{entry.article_creation_date}} </strong>
          </p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %} {% else %}
  <div class="col-12">
    <p class="">No hay artículos.</p>
  </div>
  {% endif %}
  <div class="col-12">
    {% if user.is_authenticated %}
    <div class="my-4">
      <a href="{% url 'create' %}" class="button p-3">Crear Articulo</a>
    </div>
    {% else %}
    <div class="d-flex gap-3 flex-column">
      <p>Si desea crear un artículo, por favor</p>
      <div class="">
        <a href="{% url 'register' %}" class="button p-3">Registrarse</a>
        <a href="{% url 'login' %}" class="button p-3">Iniciar Sesión</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
