{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<h2>Editar artículo</h2>
<div class="card p-4 my-4">
  <form method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-3">
    {% csrf_token %}

    <div class="row g-4">
      <div class="col-md-6">
        <div class="form-group">
          <label for="id_title" class="form-label">Title:</label>
          <input
            type="text"
            name="title"
            value="{{ edit_form.instance.title }}"
            maxlength="100"
            required=""
            class="form-control"
            id="id_title"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="id_description" class="form-label">Description:</label>
          <input
            type="text"
            name="description"
            value="{{ edit_form.instance.description }}"
            maxlength="300"
            class="form-control"
            id="id_description"
          />
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="id_content" class="form-label">Content:</label>
          <textarea name="content" cols="40" rows="10" required=""
          class="form-control" id="id_content">{{ edit_form.instance.content }}
          </textarea>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="id_tags" class="form-label">Tags:</label>
          <select name="tags" required="" id="id_tags" class="form-select">
            {% for category in categories %}
              <option value="{{ category.id }}" {% if category.id == edit_form.instance.tags.id %}selected{% endif %}>
                {{ category.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="id_image" class="form-label">
            Imagen: <a href="{{ edit_form.instance.image.url }}">
              {{ edit_form.instance.image.url }}
            </a>
          </label>
          <input type="file" name="image" accept="image/*"
           class="form-control" id="id_image" />
        </div>
      </div>

    </div>

    <button type="submit" class="d-flex justify-content-center px-3 py-3 mt-3 ">
      Editar
    </button>
  </form>
</div>
{% endblock content %}
