/* Variables de colores */
:root {
  --pale-white: #f0f0f0;
  --black: #0d0d0d;
  --dark-blue: #0f5c8c;
  --light-blue: #4287b7;
  --light-blue-two: #05f2db;
  --fuchsia: #ff1493;
  --peach-puff-light: #f2cdac;
  --turquoise: #13a4a4; /* Nueva variable para el color #13a4a4 */
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: var(--pale-white);
  font-family: Roboto, sans-serif;
  color: var(--black);
}

p {
  font-size: 20px;
}

a {
  font-weight: 500;
}

/* Estilos para el header */
header {
  border-radius: 8px; /* Adding rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

header a {
  text-transform: uppercase;
}

header .navbar-brand img {
  width: 4rem;
}

/* Estilos para los enlaces de navegación */
.nav-item a:hover {
  color: var(--turquoise); /* Utilizando la variable para el color #13a4a4 */
}

/* Estilos para el enlace activo */
.active a {
  color: var(--turquoise); /* Utilizando la variable para el color #13a4a4 */
}

/* Estilos para las cartas */
.card {
  border-radius: 0 0 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos para la clase .card */
.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card .card-body {
  flex: 1;
}

.card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card .card-text {
  font-size: 1rem;
}

/* Estilos para la clase .cart */
.cart {
  text-decoration: none;
}

/* Estilos para .cart al hacer hover */
.cart:hover .card-title {
  text-decoration: underline;
}

.cart:hover img {
  opacity: 0.5;
}

/* Estilos para el botón del formulario */
form button {
  background: var(--dark-blue);
  color: #fff;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
}

.button {
  background: var(--dark-blue);
  color: #fff;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background: var(--light-blue);
}

form button:hover {
  background: var(--light-blue);
}

footer img {
  width: 5rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
  color: var(--turquoise);
}

.d-flex a img:hover {
  opacity: 0.5;
}

/* Estilos para enlaces y botones en pantallas pequeñas */
@media (max-width: 993px) {
  .nav-link {
    padding: 5px;
  }
  .active a,
  .nav-item a:hover {
    background: var(--turquoise);
    color: #fff;
  }

  header a:hover {
  }
}
