{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<div class="row my-5">
  <div class="col-md-12 card p-4">
    <h2>Login</h2>
    <form method="POST" class="mt-4 d-flex flex-column">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_user_type" class="form-label">Nombre de ususario</label>
        <input
          type="text"
          name="username"
          placeholder="Nombre de usuario"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="id_user_type" class="form-label">Contraseña</label>
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          class="form-control"
        />
      </div>
      <button
        type="submit"
        class="d-flex justify-content-center px-2 py-3 mt-3"
      >
        Login
      </button>
    </form>
  </div>
  {% endblock content %}
</div>
