{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<h2>Register</h2>
<div class="card p-4 my-4">
  <form method="POST" enctype="multipart/form-data" class="d-flex flex-column">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="id_first_name" class="form-label">Nombre</label>
        <input
          type="text"
          name="first_name"
          required=""
          class="form-control"
          id="id_first_name"
        />
      </div>
      <div class="col-md-6">
        <label for="id_last_name" class="form-label">Apellido</label>
        <input
          type="text"
          name="last_name"
          required=""
          class="form-control"
          id="id_last_name"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="id_username" class="form-label">Nombre de usuario</label>
        <input
          type="text"
          name="username"
          autofocus=""
          required=""
          class="form-control"
          id="id_username"
        />
      </div>
      <div class="col-md-6">
        <label for="id_email" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          maxlength="320"
          required=""
          class="form-control"
          id="id_email"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="id_password1" class="form-label">Contraseña</label>
        <input
          type="password"
          name="password1"
          required=""
          class="form-control"
          id="id_password1"
        />
      </div>
      <div class="col-md-6">
        <label for="id_password2" class="form-label"
          >Confirmar contraseña</label
        >
        <input
          type="password"
          name="password2"
          required=""
          class="form-control"
          id="id_password2"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="id_profile_pic" class="form-label"
          >Imagen de ususario</label
        >
        <input
          type="file"
          name="profile_pic"
          accept="image/*"
          class="form-control"
          id="id_profile_pic"
        />
      </div>
      <div class="col-md-6">
        <label for="id_user_type" class="form-label">Tipo de usuario</label>
        <select name="user_type" id="id_user_type" class="form-select">
          <option value="Visitor" selected="">Visitante</option>
          <option value="Collaborator">Colaborador</option>
        </select>
      </div>
    </div>
    <button type="submit" class="d-flex justify-content-center px-3 py-3 mt-3">
      Registrarme
    </button>
  </form>
</div>

{% endblock content %}
