{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<div class="">
  <h1>Contacto</h1>
  <p>
    ¡Estamos aquí para ayudarte! Contáctanos mediante el formulario a
    continuación:
  </p>

  <div class="card p-4 my-4">
    <form method="POST" enctype="multipart/form-data" class="d-flex flex-column">
      {% csrf_token %}
      {{ contact_form.as_p }}

      <button type="submit" class="d-flex justify-content-center px-3 py-3 mt-3">
        Enviar
      </button>
    </form>
  </div>
</div>

{% endblock content %}
