{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}

    
    {% if user.is_authenticated %}
    <strong>Hola {{ user.username }}</strong>
        <a href="{% url 'logout' %}">LOGOUT</a>
    {% else %}
        <a href="{% url 'login' %}">LOGIN</a>
        <a href="{% url 'register' %}">REGISTRO</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>